<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.appcenter_project.mapper.TipMapper">

    <resultMap id="tipResultMap" type="com.example.appcenter_project.dto.response.tip.ResponseTipDto">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="type" column="type"/>
        <result property="createDate" column="created_date"/>
        <result property="filePath" column="file_path"/>

        <result property="content" column="content"/>
        <result property="tipLikeCount" column="tip_like"/>
        <result property="tipCommentCount" column="tip_comment_count"/>
    </resultMap>

    <select id="findTips" resultMap="tipResultMap">
        SELECT
            t.id,
            t.title,
            'TIP' as type,
            t.created_date,
            (
                SELECT i.file_path
                FROM image i
                WHERE i.board_id = t.id AND i.image_type = 'TIP'
                LIMIT 1 <!--하나만 선택-->
            ) AS file_path,
            SUBSTRING(t.content, 1, 10) AS content,
            t.tip_like,
            t.tip_comment_count
        FROM tip t
    </select>

    <select id="findLikeTips" resultMap="tipResultMap">
        SELECT
            t.id,
            t.title,
            'TIP' AS type,
            tl.created_date AS create_date,
            (
                SELECT i.file_path
                FROM image i
                WHERE i.image_type = 'TIP' AND i.board_id = t.id
                LIMIT 1 <!--하나만 선택-->
            ) AS file_path,

            SUBSTRING(t.content, 1, 10) AS content,
            t.tip_like,
            t.tip_comment_count

        FROM tip_like tl
            LEFT JOIN tip t ON tl.tip_id = t.id
        WHERE tl.user_id = #{userId}
    </select>

    <select id="findTipsByUserId" resultMap="tipResultMap">
        SELECT
        t.id,
        t.title,
        'TIP' AS type,
        t.created_date AS create_date,
        (
        SELECT i.file_path
        FROM image i
        WHERE i.image_type = 'TIP' AND i.board_id = t.id
        LIMIT 1 <!--하나만 선택-->
        ) AS file_path,

        SUBSTRING(t.content, 1, 10) AS content,
        t.tip_like,
        t.tip_comment_count

        FROM tip t
        WHERE t.user_id = #{userId}
    </select>

    <resultMap id="tipDetailMap" type="com.example.appcenter_project.dto.response.tip.ResponseTipDetailDto">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="tipLikeCount" column="tip_like"/>
        <result property="createDate" column="created_date"/>

        <!-- 좋아요 누른 유저 id -->
        <collection property="tipLikeUserList" ofType="Long" javaType="java.util.List">
            <result column="like_user_id"/>
        </collection>

        <!-- 댓글 -->
        <collection property="tipCommentDtoList"
                    ofType="com.example.appcenter_project.dto.response.tip.ResponseTipCommentDto"
                    javaType="java.util.List">
            <id property="tipCommentId" column="tip_comment_id"/>
            <result property="userId" column="user_id"/>
            <result property="reply" column="reply"/>
            <result property="parentId" column="parent_id"/>
            <result property="isDeleted" column="is_deleted"/>
            <result property="createdDate" column="comment_created_date"/>
            <result property="name" column="user_name"/>
        </collection>
    </resultMap>

    <select id="findTip" resultMap="tipDetailMap">
        SELECT
            t.id,
            t.title,
            t.content,
            t.tip_like,
            t.created_date,

            tl.user_id AS like_user_id,

            tc.id AS tip_comment_id,
            tc.user_id,
            tc.reply,
            tc.parent_id,
            tc.is_deleted,
            tc.created_date AS comment_created_date,
            u.name AS user_name

        FROM tip t
        LEFT JOIN tip_like tl ON t.id = tl.tip_id
        LEFT JOIN tip_comment tc ON t.id = tc.tip_id
        LEFT JOIN user u ON tc.user_id = u.id
        WHERE t.id = #{tipId}
    </select>
</mapper>